{{#partial "content"}}
    <h1>ADD A NEW POST</h1>
    <form action="/posts/new" method="post">
        <label for="content">Post Content</label>
        <input id="content" name="content" type="text">
        <button class="btn btn-default" type="submit">Add new Blog</button>
    </form>
    {{/partial}}
    {{> layout.hbs}}